body{
  background-color: #222;
  color: #ccc;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.movie-line > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

p {
	margin-top: 16px;
	margin-bottom: 1rem;
	margin-left: 1rem;
}

.images {
  width: 100px;
  height: 150px;
  display: inline;
  border: #aaa solid 1px;
  border-radius: 6px;
  margin: 4px;
  transition: transform 400ms;
}
.images:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.title{
  margin: -16px;
}

.results{
  max-width: 600px;
  background-color: #151515;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

.btnSave{
  font-size: 1em;
  padding: 1em;
  color: #ccc;
  background-color: #151515;
  margin: 1em;
  cursor: pointer;
}

.searchInput{
    font-size: 1em;
    padding: 4px;
    color: #ccc;
    background-color: #111;
    margin-top: 1em;
}